div.row.page-header
  div.span5
    h2 Head
  div.span7
    h2 Base

form(method="post", id="pullForm")
  div.row
    div.span12.alerts
      

  div.row
    div.span5
      h3 1. Choose Fork
        i.icon-question-sign
      div.btn-group(id="fork-select")
        a.btn.dropdown-toggle.btn-large(data-toggle="dropdown")  Choose Fork
          span.caret.pull-right
        ul.dropdown-menu
          each fork in forks
            li(data-object=fork.full_name)
              a(href="#")= fork.full_name
      div.tooltip.hide
        h3 Choose a Fork
        p Select a fork of a project you have on your own account. If you have not created a fork before this select | will be empty. Please follow 
          a(href="https://help.github.com/articles/fork-a-repo") this 
          | helpful guide.
              
    div.span7.hide.base-branch
      h3 3. Choose Base branch
        i.icon-question-sign
        small.pull-right 
          a(href="#") 
      div.btn-group(id="base-branch-select")
        a.btn.dropdown-toggle.btn-large(data-toggle="dropdown")  Choose Branch
          span.caret.pull-right
        ul.dropdown-menu
      div.tooltip.hide
        h3 Choose a Base Branch
        p This is the branch on the main project repository you want this to be merged into. 99% of the time this will be 
          strong master 
          | however, there might be occasions where you'll be merging elsewhere.
  
  div.row
    div.span5.hide.head-branch
      h3 2. Choose Head Branch
        i.icon-question-sign
      div.btn-group(id="head-branch-select")
        a.btn.dropdown-toggle.btn-large(data-toggle="dropdown")  Choose Branch
          span.caret.pull-right
        ul.dropdown-menu
      div.tooltip.hide
        h3 Choose a Branch
        p This is a branch that you have worked on and pushed to your fork on 
          strong GitHub 
          | . If you have performed all your work on your repositories 
          strong master 
          | branch, then this is a problem. You should arrange the work into its own branch to facilitate an easy merge.
    
    div.span7.hide.issues
      h3 4. Select Issue
        i.icon-question-sign
        small.pull-right Only lists open issues assigned to you (
          a(href="#") issues
          | )
      div.btn-group(id="issue-select")
        a.btn.dropdown-toggle.btn-large(data-toggle="dropdown")  Select Issue
          span.caret.pull-right
        ul.dropdown-menu
      div.tooltip.hide
        h3 Select an Issue
        p This is a list of all the 
          strong open 
          | issues on the main project repository that are 
          strong assigned to you 
          | . If you can't find the Issue you're looking for, then go to the project repository and assign it to yourself and make sure it is open. Please note, however, that issues already converted to 
          strong Pull Requests 
          | won't be listed here either.
          
  div.row
    div.span12.hide.summery
    
  div.row
    div.span12.hide.submit
      h3 5. ...
      div.btn-group(id="finish")
        button.btn.btn-superlarge.btn-success.disabled(disabled) Finish!